<section class="card">
    <div class="card-body">
        <h1>Acerca de</h1>
        <p>Realizado por Francisco De La Cruz Véliz</p>
        <p>Ing. en Informática, desarrollador web</p>
        <p>Lara, Venezuela</p>
        <p>Sitio web personal: <a href="https://www.dlcv.net.ve/" target="_blank" rel="noopener noreferrer">dlcv</a></p>
        <p>Bio en <a href="https://bio.torre.co/es/franciscodlcv" target="_blank" rel="noopener noreferrer">Torre</a></p>
        <hr>
        <h1>Log de desarrollo:</h1>
        <ul>
            <li>Inicio de proyecto (npm init)</li>
            <li>Inicio de repositorio (git init)</li>
            <li>Creación de estructura de proyecto (creación de carpetas)</li>
            <li>Instalación de bibliotecas (npm i express express-handlebars express-session handlebars mongoose mongoose-unique-validator morgan passport passport-local connect-flash method-override bcryptjs)</li>
            <li>Creación de modelos</li>
            <li>Creación de rutas</li>
            <li>Creación de controladores</li>
            <li>Creación de vistas</li>
            <li>Pruebas con DB local</li>
            <li>Pruebas con DB remota</li>
        </ul>
        <hr>
        <h1>No realizado:</h1>
        <ul>
            <li>Búsqueda general (POST https://search.torre.co/opportunities/_search/)</li>
            <li>Mejoras para dispositivos responsives</li>
        </ul>
    </div>
</section>