<section class="card">
    <div class="card-body">
        <h1>Acerca de</h1>
        <p>Realizado por Francisco De La Cruz Véliz</p>
        <p>Ing. en Informática, desarrollador web</p>
        <p>Lara, Venezuela</p>
        <p>Correo electrónico: <a href="mailto:dlcv@live.com.ve"></a></p>
        <p>Sitio web personal: <a href="https://www.dlcv.net.ve/" target="_blank" rel="noopener noreferrer"></a>dlcv</p>
        <p>Bio en <a href="https://bio.torre.co/es/franciscodlcv" target="_blank" rel="noopener noreferrer">Torre</a></p>
    </div>
</section>