<div class="jumbotron mt-4">
    <h1 class="display-4">dlcv Torre App</h1>
    <p class="lead">Aplicación de prueba de desarrollo web para interactuar con la API de Torre</p>
    <hr class="my-4">
    <p>Debes registrarte para poder utilizar las funcionalidades de la aplicación web</p>
    <a href="/register" class="btn btn-primary">Regístrate</a>
    <hr class="my-4">
    <p>¿Qué contiene el proyecto?</p>
    <ul>
        <li>Sistema de registro y login</li>
        <li>Autenticación de usuarios</li>
        <li>Base de datos no relacional (MongoDB)</li>
        <li>Control de versiones (Git)</li>
        <li>Uso de bibliotecas de terceros</li>
        <li>Uso de frameworks</li>
        <li>Estructura MVC</li>
        <li>Front-end básico</li>
        <li>URL's protegidas</li>
        <li>Interacción con API de Torre</li>
        <li>Despliegue en Heroku</li>
    </ul>
    
</div>