<div class="jumbotron mt-4">
    <h1 class="display-4">dlcv Torre App</h1>
    <p class="lead">Aplicación de prueba de desarrollo para interactuar con la API de Torre </p>
    <hr class="my-4">
    <p>Debes registrarte para poder utilizar las funcionalidades de la aplicación web</p>
    <a href="/register" class="btn btn-primary">Regístrate</a>
</div>