<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">Iniciar sesi칩n</div>
            <img src="/img/dlcv_black_small.png" alt="dlcv" class="mx-auto d-block m-4 logo">
            <div class="card-body">
                <form action="/login" method="post">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Correo electr칩nico">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Contrase침a">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Iniciar sesi칩n</button>
                </form>
            </div>
        </div>
    </div>
</div>