<div class="row card-deck">
    <div class="col-md-4 d-flex">
        <div class="card">
            <div class="card-header">
                <h5>Perfiles</h5>
            </div>
            <div class="card-body">
                <p>Busque el perfil de un usuario en Torre</p>
                <p>
                  <a href="/profiles/" class="btn btn-primary btn-block" role="button">Perfiles</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex">
        <div class="card">
            <div class="card-header">
                <h5>Oportunidades</h5>
            </div>
            <div class="card-body">
                <p>Consulte las oportunidades de trabajo disponibles</p>
                <p>
                  <a href="/jobs/" class="btn btn-primary btn-block" role="button">Oportunidades</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex">
        <div class="card">
            <div class="card-header">
                <h5>Búsqueda</h5>
            </div>
            <div class="card-body">
                <p>Busqueda general en Torre de usuarios y ofertas laborales</p>
                <p>
                  <a href="/search/" class="btn btn-primary btn-block" role="button">Buscar</a>
                </p>
            </div>
        </div>
    </div>
</div>